__pycache__/
*.pyc

# MazeBench artifacts
MazeBench-2D/examples/*.html
MazeBench-2D/examples/*.json
MazeBench-2D-Image/examples/*.html
MazeBench-2D-Image/examples/*.json
MazeBench-2D-Image/examples/*.png
