<html><head><meta charset="utf-8"><title>Maze 2D Image Report</title></head>
<body>
<h2>Scores</h2>
<ul>
<li>Total: %%TOTAL%%</li>
<li>S: %%S%%</li>
<li>Q: %%Q%%</li>
<li>R: %%R%%</li>
<li>A: %%A%%</li>
</ul>
<h2>Maze Image</h2>
<img src="%%IMG_SRC%%" alt="maze" style="image-rendering: pixelated; border:1px solid #ccc" />
<h2>Paths</h2>
<pre>Shortest: %%SP%%
Model:    %%MP%%
</pre>
<pre style="color:red">%%FAIL%%</pre>
</body></html>
